body {
  font-family: 'Audiowide', sans-serif;

  text-align: center;
  background-color: rgb(2, 2, 2);
}
table {
  margin: 150px auto;
}
img {
  background-color: transparent;
}
h3 {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  font-family: 'Audiowide', sans-serif;

  position: fixed;
  top: 90%;
  left: 30px;
  font-size: 10px;
}
h4 {
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(152, 152, 152);
  font-family: 'Audiowide', sans-serif;
  padding: 15px 20px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  

}
h2 span {
  font-family: 'Audiowide', sans-serif;

  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(152, 152, 152);
  z-index: 10;
}
/* class  */

.logo {
  height: 120px;
  margin-bottom: 10px;
}
.cell {
  border: 0.5px solid rgba(233, 233, 233, 0);
  width: 66px;
  height: 39px;
  padding: 0;
  position: relative;
  overflow: hidden;
}
.cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}
.board-container {
  margin-top: -80px;
}
.hero-img {
  height: 60px;
}
.alian-img {
  height: 60px;
}
.laser-img {
  height: 40px;
}
.hit-img {
  height: 60px;
}
.candies-img {
  height: 60px;
}
.victory {
  font-family: 'Audiowide', sans-serif;
  font-size: 24px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 60%);
  padding: 5px 70px;
  border-radius: 16px;
  align-items: center;
  z-index: 10;
}
.victory button {
  background-color: rgba(28, 28, 28, 0.996);
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px 40px;

  font-family: 'Audiowide', sans-serif;

  font-weight: bold;

  font-size: 20px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  cursor: pointer;

  animation: blink 3.5s infinite;
}
.win {
  font-weight: bold;
  font-size: 35px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(152, 152, 152);
  /* animation: blink 6s infinite; */
  z-index: 10;
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.strt-text {
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(152, 152, 152);
}
.btn-start {
  font-size: 24px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  background-color: rgb(2, 2, 2);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 50px 55px;
  border-radius: 16px;
  cursor: pointer;

  align-items: center;
  z-index: 10;
}
.btn-start button {
  background-color: rgba(28, 28, 28, 0.996);
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px 40px;
  font-family: 'Audiowide', sans-serif;

  font-weight: bold;

  font-size: 20px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  cursor: pointer;
  animation: blink 3.5s infinite;
}
.point {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  text-align: center;
  animation: blink 3.5s infinite;
}
.restart-btn {
  display: none;
  background-color: rgba(28, 28, 28, 0.996);
  border-radius: 30px;
  padding: 10px 40px;
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;

  font-size: 15px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  align-items: center;

  position: absolute;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
  padding: 10px 35px;
  cursor: pointer;
}
.lose {
  font-family: 'Audiowide', sans-serif;
  font-size: 24px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  background-color: rgba(2, 2, 2, 0);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 60%);
  padding: 5px 70px;
  border-radius: 16px;
  align-items: center;
  display: none;
  z-index: 10;
}
.lose button {
  background-color: rgba(28, 28, 28, 0.996);
  margin-top: 10px;
  border-radius: 30px;
  padding: 10px 40px;

  font-family: 'Audiowide', sans-serif;
  font-weight: bold;

  font-size: 20px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  cursor: pointer;

  animation: blink 3.5s infinite;
}
.lose-text {
  font-weight: bold;
  font-size: 35px;
  color: rgb(0, 255, 81);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  z-index: 10;
}
.Super span {
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(152, 152, 152);
  position: fixed;
}
.spicel span {
  font-family: 'Audiowide', sans-serif;
  font-weight: bold;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(152, 152, 152);
  position: fixed;
  font-size: 15px;
}
.score-text {
  font-family: 'Audiowide', sans-serif;
  font-size: 24px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  position: absolute;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
  padding: 10px 70px;
  border-radius: 16px;

  align-items: center;
  z-index: 10;
}
.Super {
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  font-family: 'Audiowide', sans-serif;
  font-size: 15px;
  position: fixed;
  top: 87%;
  left: 30px;
}
.spicel {
  font-size: 15px;
}
.main-text {
  color: rgb(0, 255, 81);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  font-family: 'Audiowide', sans-serif;

  font-size: 17px;
  position: fixed;
  top: 93%;
  /* left: 50%; */
  animation: blink 3.5s infinite;
}
.main-winning {
color: rgb(0, 255, 81);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(217, 0, 255);
  position: absolute;
  left: 50%;
  font-size: 13px;
  transform: translateX(-50%);
}
