body {
  text-align: center;
  background-color: rgb(2, 2, 2);
}

table {
  margin: 150px auto;
}

img {
  background-color: transparent;
}

h4 {
   color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);  font-family: monospace;
}

.score-text { 
  font-family: 'Press Start 2P', monospace;
  font-size: 24px;
   color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  position: absolute;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
  padding: 10px 70px;
  border-radius: 16px;

  align-items: center;
  z-index: 10;
}

h2 span {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(255, 221, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(250, 250, 255);
  z-index: 10;
}

/* class  */

.logo {
  height: 150px;
  margin-bottom: 10px;
}
.cell {
  border: 0.5px solid rgba(233, 233, 233, 0);
  width: 66px;
  height: 39px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.cell img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.board-container {
  margin-top: -80px;
}

.hero-img {
  height: 60px;
}
.alian-img {
  height: 60px;
}
.laser-img {
  height: 40px;
}
.hit-img {
  height: 60px;
}
.victory {
  font-family: 'Press Start 2P', monospace;
  font-size: 24px;
  color: rgb(255, 230, 0);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 60%);
  padding: 5px 70px;
  border-radius: 16px;
  align-items: center;
  z-index: 10;
}

.victory button {
  background-color: rgba(28, 28, 28, 0.996);
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px 40px;

  font-family: 'Press Start 2P', monospace;
  font-weight: bold;

  font-size: 20px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  cursor: pointer;

  animation: blink 3.5s infinite;
}

.win {
  font-weight: bold;
  font-size: 35px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  /* animation: blink 6s infinite; */
  z-index: 10;
}

@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.btn-start {
  font-family: 'Press Start 2P', monospace;
  font-size: 24px;
  color: rgb(255, 221, 0);
  text-shadow: 0 0 5px rgb(0, 0, 0), 0 0 10px rgb(250, 250, 255);
  background-color: rgb(2, 2, 2);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 50px 70px;
  border-radius: 16px;
  cursor: pointer;

  align-items: center;
  z-index: 10;
}

.btn-start button {
  background-color: rgba(28, 28, 28, 0.996);
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px 40px;

  font-family: 'Press Start 2P', monospace;
  font-weight: bold;

  font-size: 20px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  cursor: pointer;
  animation: blink 3.5s infinite;
}

.point {
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.984), 0 0 10px rgb(255, 255, 255);
}

.restart-btn {
  display: none;
  background-color: rgba(28, 28, 28, 0.996);
  border-radius: 30px;
  padding: 10px 40px;
  font-family: 'Press Start 2P', monospace;
  font-weight: bold;

  font-size: 15px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  align-items: center;

  position: absolute;
  left: 50%;
  margin-bottom: 20px;
  transform: translate(-50%, -50%);
  padding: 10px 35px;
  cursor: pointer;
}

.lose {
  font-family: 'Press Start 2P', monospace;
  font-size: 24px;
  color: rgb(255, 0, 0);
  text-shadow: 0 0 5px rgb(14, 14, 14), 0 0 10px rgb(250, 250, 255);

  position: absolute;
  left: 50%;
  transform: translate(-50%, 60%);
  padding: 5px 70px;
  border-radius: 16px;
  align-items: center; 
  display: none;
  z-index: 10;
}

.lose button{
  background-color: rgba(28, 28, 28, 0.996);
  margin-top: 20px;
  border-radius: 30px;
  padding: 10px 40px;

  font-family: 'Press Start 2P', monospace;
  font-weight: bold;

  font-size: 20px;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 5px rgb(255, 0, 0), 0 0 10px rgb(250, 250, 255);
  cursor: pointer;

  animation: blink 3.5s infinite;
}

.lose-text{
  font-weight: bold;
  font-size: 35px;
  color: rgb(171, 2, 255);
  text-shadow: 0 0 5px rgba(16, 16, 16, 0.868),
    0 0 10px rgba(253, 253, 255, 0.825);
  /* animation: blink 6s infinite; */
  z-index: 10;

}